<!DOCTYPE html>
<html lang="en">
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet" href="/css/styles.css">

</head>
<body>
    <div class="main-content">
    {{>header}}
     <h2>{{helpname}}</h2>
    <p>created by {{helpername}}</p>    
    </div>
    {{!-- {{>header}} --}}
    
    {{!-- <h2>{{helpname}}</h2>
    <p>created by {{helpername}}</p> --}}
    {{>footer}}
</body>
</html>